<!-- Toolbar -->
<div class="toolbar" role="banner">

  <div class="toolbar-contant">
    <span>EURO: {{eur}}</span>
  </div>

  <div class="toolbar-contant">
    <span>USD: {{usd}}</span>
  </div>

  <div class="toolbar-contant">
    <span>UAH: {{uah}}</span>
  </div>

</div>

<!-- Content -->
<div class="content" role="main">
  <div class="card-container">

    <div class="main-container" style="align-items: center;">
      <div class="selection-container">
        <select #country1 name="" id="country1" (mouseleave)="changeFirstCurrency(country1.value)">
          <option value="EUR">EUR</option>
          <option value="UAH">UAH</option>
          <option value="USD">USD</option>
        </select>
        <input #inputCountry1 value="1" type="text" style="margin-left: 5px;"
          (input)="convertCurrency(inputCountry1, inputCountry2, 1)">
        <br>

        <br>
        <select #country2 name="" id="country2" (mouseleave)="changeSecondCurrency(country2.value)">
          <option value="EUR">EUR</option>
          <option value="UAH">UAH</option>
          <option value="USD">USD</option>
        </select>
        <input #inputCountry2 value="1" type="text" style="margin-left: 5px;"
          (input)="convertCurrency(inputCountry2, inputCountry1, 2)">

        <div class="result-container">
          <p>1 {{firstCurrency}}</p>
          <p> = </p>
          <p> {{result}} {{secondCurrency}}</p>
        </div>
      </div>

    </div>
  </div>
</div>